---
import { SITE_TITLE } from '../consts';

const year = new Date().getFullYear();
---

<footer>
	<p>&copy; {year} {SITE_TITLE}</p>
</footer>
<style>
	footer {
		text-align: center;
		padding: 2rem 1rem;
		color: rgb(var(--gray));
		font-size: 0.9rem;
		border-top: 1px solid rgb(var(--gray-light));
		margin-top: 4rem;
	}
	footer p {
		margin: 0;
	}
</style>
